---
import Titel from "../components/Titel.astro";
import Button from "./Button.astro";
const {image, genre, beskrivelse, titel, spilledatoer, link} = Astro.props;
---
<div class="scrolling_container">
    <section class="no-padding">
        <h1><slot/>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 25 25" fill="none">
            <path d="M12.5 21C7.8 21 4 17.2 4 12.5C4 7.8 7.8 4 12.5 4C17.2 4 21 7.8 21 12.5C21 17.2 17.2 21 12.5 21ZM12.5 5C8.35 5 5 8.35 5 12.5C5 16.65 8.35 20 12.5 20C16.65 20 20 16.65 20 12.5C20 8.35 16.65 5 12.5 5Z" fill="#EBE6DA"/>
            <path d="M12.35 17.35L11.65 16.65L15.8 12.5L11.65 8.35L12.35 7.65L17.2 12.5L12.35 17.35Z" fill="#EBE6DA"/>
            <path d="M8 12H16.5V13H8V12Z" fill="#EBE6DA"/>
          </svg>
        </h1>
    </section>
    <section  class="no-padding">
        <ul>
        <li>
            <Titel>{genre}</Titel>
            <a href={"/vaerker/"+link}> <img src={`/../vaerker/${image}`} alt=""></a>
        </li>
        <div>
            <li>
                <a href={"/vaerker/"+link}> 
                <h2>{titel}</h2></a>
            </li>
            <li>
                <p>{beskrivelse}</p>
            </li>
            <li>
                <h3>Spilledatoer</h3>
                <p>{spilledatoer}</p>
            </li>
            <li>
                <a href="https://www.place2book.com/da/sw2/sales/event_list/EM12959?fbclid=IwY2xjawJGhH1leHRuA2FlbQIxMAABHaDiQ96phJBmChaRZfnhbmfnEWnIwnAc7x8bMUq4BNwixACMJb8ccJHjBA_aem_Hz9rmvYZbzme4TkClU5fNA" target=”_blank1”>
                <Button>billetter</Button>
                </a>
            </li>
        </div>
        </ul>
    </section>
</div>

<style>

    .scrolling_container{
    scroll-snap-type: inline mandatory;
    display: flex;
    overflow-x: auto;
    h1{
      display: flex;
      justify-content: center;
      gap:10px;
  }
  
  > * {
    flex: 1 0 70%;

    @media (width<750px){
            flex: 1 0 100%;
          }
  }
    section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  background: var(--red-secondary01);
  block-size: 100svh;
  display: grid;
  place-content: center;

  &:nth-child(even){
    background-color: var(--red-tertiary01);
  }
  > * {
    padding:2rem;
  }
  
  h1, h2 {
    color:var(--beige-primary03);
  }
    }
    ul{
        display:flex;
       gap:20px;
       @media (width<1050px){
            display:flex;
            flex-direction: column;
            }
            @media (width>1800px){
            padding-inline: var(--content-width);
            padding-top: var(--content-height);
            padding-bottom: var(--content-height);
          }
          div{
        padding-top:2.2rem;
        p{
        max-width: 89ch;
        align-items: center;
        color:var(--white-primary01);
        }
        h3{
            color:var(--white-primary01);
        }
        }  
        img{
            transition: 0.5s;
            @media (width<1050px){
            display:none;
            }
            &:hover{
                opacity: 0.5;
                transition: opacity 1.2s ease-out;
            }
        } 
    }
    }
</style>