---
import Button from "./Button.astro";
const {plakat, beskrivelse, titel, varighed, display_img_1, display_img_2, display_img_3, trailer} = Astro.props;
---
    <figure>
        <img class="photo1" src={`/../vaerk/${display_img_1}`} alt="">
        <img class="photo2" src={`/../vaerk/${display_img_2}`} alt="">
        <img class="photo3" src={`/../vaerk/${display_img_3}`} alt="">
    </figure>
    <li>
        <img src={`/../vaerk/${plakat}`} alt="">
    </li>
    <div>
    <li>
        <h2>{titel}</h2>
    </li>
    <li>
        <p>{beskrivelse}</p>
    </li>
    <li>
        <h3>Varighed</h3>
        <p>{varighed}</p>
    </li>
    <li>
        <a href="https://www.place2book.com/da/sw2/sales/event_list/EM12959?fbclid=IwY2xjawJGhH1leHRuA2FlbQIxMAABHaDiQ96phJBmChaRZfnhbmfnEWnIwnAc7x8bMUq4BNwixACMJb8ccJHjBA_aem_Hz9rmvYZbzme4TkClU5fNA" target=”_blank1”>
        <Button>billetter</Button>
        </a>
    </li>
</div>

<style>
    img{
        width:80%;
        @media (width<750px){
        width:50%;
        }
    }

    div{
        p{
        max-width: 89ch;
        align-items: center;
        }
        } 

    figure{
    width:50%;
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-rows: min-content;
      grid-template-areas:
      "photo1 photo2"
      "photo1 photo3";
      .mathilde{
        grid-area:photo1;
      }
      .photo2{
        grid-area: photo2;
      }

      .photo3{
        grid-area: photo3;
      }
  }
</style>